{{ form_start(form) }}

<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="email">email</label>
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'email'}}) }}
        {{ form_errors(form.email) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="password">password</label>
        {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder':'password'}}) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="username">nombre</label>
        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':'nombre'}}) }}
        {{ form_errors(form.username) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="apellidos">apellidos</label>
        {{ form_widget(form.apellidos, {'attr': {'class': 'form-control', 'placeholder':'apellidos'}}) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="telefono">telefono</label>
        {{ form_widget(form.telefono, {'attr': {'class': 'form-control', 'placeholder':'telefono'}}) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="direccion">direccion</label>
        {{ form_widget(form.direccion, {'attr': {'class': 'form-control', 'placeholder':'direccion'}}) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12">
        <button class="btn btn btn-primary text-white px-4 py-2">{{ button_label|default('Register') }}</button>
    </div>
</div>
{{ form_end(form) }}
