{% extends 'layout.html.twig' %}

{% block title %}New Usuario{% endblock %}

{% block main %}
    <div class="site-wrap">
        <div class="py-5 bg-light">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-lg-8 mb-5">
                        <h1>Registro</h1>

                        {{ include('usuario/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
