<!--
<?php if(!empty($errores) || !empty($mensaje)) : ?>
<div>
    <?php if(empty($errores)) : ?>
    <p><?= $mensaje ?> </p>
    <?php else : ?>
    <ul>
        <?php foreach($errores as $error) : ?>
        <li><?= $error ?></li>
        <?php endforeach; ?>
    </ul>
    <?php endif; ?>
</div>
<?php endif; ?>
-->
