
<script src="{{ asset('./js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('./js/jquery-migrate-3.0.1.min.js') }}"></script>
<script src="{{ asset('./js/jquery-ui.js') }}"></script>
<script src="{{ asset('./js/popper.min.js') }}"></script>
<script src="{{ asset('./js/bootstrap.min.js') }}"></script>
<script src="{{ asset('./js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('./js/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('./js/jquery.countdown.min.js') }}"></script>
<script src="{{ asset('./js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('./js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('./js/aos.js') }}"></script>

<script src="{{ asset('./js/main.js') }}"></script>