
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('./fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{ asset('./css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('./css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('./css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('./css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('./css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('./css/bootstrap-datepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('./css/animate.css') }}">

    <link rel="stylesheet" href="{{ asset('https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css') }}">



    <link rel="stylesheet" href="{{ asset('./fonts/flaticon/font/flaticon.css') }}">

    <link rel="stylesheet" href="{{ asset('./css/aos.css') }}">

    <link rel="stylesheet" href="{{ asset('./css/style.css') }}">

