<div class="container">
    <div class="site-navbar bg-light">
        <div class="py-1">
            <div class="row align-items-center">
                <div class="col-2">
                    <h2 class="mb-0 site-logo"><a href="/">Calis<strong>thenics</strong></a></h2>
                </div>
                <div class="col-10">
                    <nav class="site-navigation text-right" role="navigation">
                        <div class="container">
                            <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a
                                        href="{{ path('index_page') }}"
                                        class="site-menu-toggle js-menu-toggle text-black"><span
                                            class="icon-menu h3"></span></a></div>

                            <ul class="site-menu js-clone-nav d-none d-lg-block">
                                {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path("ruta_admin") }}">AdminPanel</a></li>
                                {% endif %}
                                <li><a href="{{ path("mensajes_contact") }}">Contact</a></li>
                                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="{{ path("login_page") }}">Login</a></li>
                                <li><a href="{{ path("usuario_register") }}">Register</a></li>
                                {% endif %}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li><a href="{{ path("perfil_usuario") }}">Mi Perfil</a></li>
                                    <li><a href="{{ path("crear_rutina") }}">Crear rutina</a></li>
                                    <li>
                                        <a href="{{ path("logout") }}"><i class="fa fa-sign-out" />{{ app.user.username }} - Logout</a>
                                    </li>
                                {% endif %}
                                <!--<li><a href="<?= (is_null(($app['user']))) ? '/login' : '/articulos'?>">Articulos</a></li>-->
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</div>