<form method="post" action="{{ path('plan_entreno_delete', {'id': plan_entreno.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plan_entreno.id) }}">
    <button class="btn">Delete</button>
</form>
