{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="imagen">imagen</label>
        {{ form_widget(form.imagen, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="nombre">nombre</label>
        {{ form_widget(form.nombre, {'attr': {'class': 'form-control', 'placeholder':'nombre de tu rutina'}}) }}
        {{ form_errors(form.nombre) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="ejercicio_uno">nombre 1</label>
        {{ form_widget(form.ejercicio_uno, {'attr': {'class': 'form-control', 'placeholder':'ejercicio uno'}}) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="ejercicio_dos">nombre 2</label>
        {{ form_widget(form.ejercicio_dos, {'attr': {'class': 'form-control', 'placeholder':'ejercicio dos'}}) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="ejercicio_tres">nombre 3</label>
        {{ form_widget(form.ejercicio_tres, {'attr': {'class': 'form-control', 'placeholder':'ejercicio tres'}}) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="ejercicio_cuatro">nombre 4</label>
        {{ form_widget(form.ejercicio_cuatro, {'attr': {'class': 'form-control', 'placeholder':'ejercicio cuatro'}}) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="ejercicio_cinco">nombre 5</label>
        {{ form_widget(form.ejercicio_cinco, {'attr': {'class': 'form-control', 'placeholder':'ejercicio_cinco'}}) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12">
        <label class="font-weight-bold" for="descripcion">Descripcion</label>
        {{ form_widget(form.descripcion, {'attr': {'class': 'form-control', 'cols':'30', 'rows':'5', 'placeholder':'Detalla tu rutina aqui'}}) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="tipo">Especialidad</label>
        {{ form_widget(form.tipo, {'attr': {'class': 'form-control', 'placeholder':'tipo'}}) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12">
        <button class="btn btn-primary text-white px-4 py-2">{{ button_label|default('Crea') }}</button>
    </div>
</div>
{{ form_end(form) }}
