{% extends 'layout.html.twig' %}

{% block title %}Edit PlanEntreno{% endblock %}

{% block main %}
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8 mb-5">
                    <h1>Edita el plan de entreno</h1>

                    {{ include('plan_entreno/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('rutinas_usuario') }}">Vuelta a mis rutinas</a>

                    {{ include('plan_entreno/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
