{% extends 'base.html.twig' %}

{% block title %}PlanEntreno index{% endblock %}

{% block body %}
    <h1>PlanEntreno index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Ejercicio_uno</th>
                <th>Ejercicio_dos</th>
                <th>Ejercicio_tres</th>
                <th>Ejercicio_cuatro</th>
                <th>Ejercicio_cinco</th>
                <th>Descripcion</th>
                <th>UsuarioCreador_id</th>
                <th>Tipo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plan_entreno in plan_entrenos %}
            <tr>
                <td>{{ plan_entreno.id }}</td>
                <td>{{ plan_entreno.imagen }}</td>
                <td>{{ plan_entreno.nombre }}</td>
                <td>{{ plan_entreno.ejercicioUno }}</td>
                <td>{{ plan_entreno.ejercicioDos }}</td>
                <td>{{ plan_entreno.ejercicioTres }}</td>
                <td>{{ plan_entreno.ejercicioCuatro }}</td>
                <td>{{ plan_entreno.ejercicioCinco }}</td>
                <td>{{ plan_entreno.descripcion }}</td>
                <td>{{ plan_entreno.usuarioCreadorId }}</td>
                <td>{{ plan_entreno.tipo }}</td>
                <td>
                    <a href="{{ path('plan_entreno_show', {'id': plan_entreno.id}) }}">show</a>
                    <a href="{{ path('plan_entreno_edit', {'id': plan_entreno.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('crear_rutina') }}">Create new</a>
{% endblock %}
