{% extends 'layout.html.twig' %}

{% block title %}New PlanEntreno{% endblock %}

{% block main %}
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8 mb-5">
                    <h1>Crea tu rutina</h1>

                    {{ include('plan_entreno/_form.html.twig') }}

                    <a href="{{ path('index_page') }}">back to list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
