{% extends 'base.html.twig' %}

{% block title %}PlanEntreno{% endblock %}

{% block body %}
    <h1>PlanEntreno</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plan_entreno.id }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ plan_entreno.imagen }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ plan_entreno.nombre }}</td>
            </tr>
            <tr>
                <th>Ejercicio_uno</th>
                <td>{{ plan_entreno.ejercicioUno }}</td>
            </tr>
            <tr>
                <th>Ejercicio_dos</th>
                <td>{{ plan_entreno.ejercicioDos }}</td>
            </tr>
            <tr>
                <th>Ejercicio_tres</th>
                <td>{{ plan_entreno.ejercicioTres }}</td>
            </tr>
            <tr>
                <th>Ejercicio_cuatro</th>
                <td>{{ plan_entreno.ejercicioCuatro }}</td>
            </tr>
            <tr>
                <th>Ejercicio_cinco</th>
                <td>{{ plan_entreno.ejercicioCinco }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ plan_entreno.descripcion }}</td>
            </tr>
            <tr>
                <th>UsuarioCreador_id</th>
                <td>{{ plan_entreno.usuarioCreadorId }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ plan_entreno.tipo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('plan_entreno_index') }}">back to list</a>

    <a href="{{ path('plan_entreno_edit', {'id': plan_entreno.id}) }}">edit</a>

    {{ include('plan_entreno/_delete_form.html.twig') }}
{% endblock %}
