{% extends 'base.html.twig' %}

{% block title %}Suscripcion index{% endblock %}

{% block body %}
    <h1>Suscripcion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_usuario</th>
                <th>Id_plan_entreno</th>
                <th>Fecha_inscripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for suscripcion in suscripcions %}
            <tr>
                <td>{{ suscripcion.id }}</td>
                <td>{{ suscripcion.idUsuario }}</td>
                <td>{{ suscripcion.idPlanEntreno }}</td>
                <td>{{ suscripcion.fechaInscripcion ? suscripcion.fechaInscripcion|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('suscripcion_show', {'id': suscripcion.id}) }}">show</a>
                    <a href="{{ path('suscripcion_edit', {'id': suscripcion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('suscripcion') }}">Create new</a>
{% endblock %}
