{% extends 'base.html.twig' %}

{% block title %}Suscripcion{% endblock %}

{% block body %}
    <h1>Suscripcion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ suscripcion.id }}</td>
            </tr>
            <tr>
                <th>Id_usuario</th>
                <td>{{ suscripcion.idUsuario }}</td>
            </tr>
            <tr>
                <th>Id_plan_entreno</th>
                <td>{{ suscripcion.idPlanEntreno }}</td>
            </tr>
            <tr>
                <th>Fecha_inscripcion</th>
                <td>{{ suscripcion.fechaInscripcion ? suscripcion.fechaInscripcion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('suscripcion_index') }}">back to list</a>

    <a href="{{ path('suscripcion_edit', {'id': suscripcion.id}) }}">edit</a>

    {{ include('suscripcion/_delete_form.html.twig') }}
{% endblock %}
