{% extends 'layout.html.twig' %}

{% block main %}
    {{ form_start(form) }}
        <div class="col-md-12">
            <label class="font-weight-bold" for="suscripcion">Usuario: {{ app.user.username }}<!-- <?php echo 'Usuario logueado: ' . $user ?> --> </label>
        </div>
        <div style="margin-left: 15px">
            <p>Desea suscribirse a la rutina?</p>
            <label for="si">Si</label>
            {{ form_widget(form.eleccion, {'attr': {'name':'suscripcion', 'class': 'btn btn-primary text-white px-4 py-2', 'style':'margin-left: 15px;', 'placeholder':'comenta...', 'value':'si'}}) }}

            <label for="no">No</label>
            {{ form_widget(form.eleccionNO, {'attr': {'name':'suscripcion', 'class': 'btn btn-primary text-white px-4 py-2', 'style':'margin-left: 15px;', 'placeholder':'comenta...', 'value':'no'}}) }}

        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <button class="btn btn-primary text-white px-4 py-2">{{ button_label|default('Suscribeme!') }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}