{% extends 'layout.html.twig' %}

{% block main %}
    <div class="site-wrap">
        <div class="py-5 bg-light">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-lg-8 mb-5">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Email</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set i = 0 %}
                            {% for usuario in usuarios %}
                                <tr>
                                    <th scope="row">{{ i+1 }}</th>
                                    <td>{{ usuario.email }}</td>
                                    <td>{{ usuario.username }}</td>
                                    <td>{{ usuario.apellidos }}</td>
                                    <td><a href="{{ path("info_page_user", {'id': usuario.id}) }}">Info page</a></td>
                                </tr>
                                {% set i = i +1 %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}