{% extends 'layout.html.twig' %}

{% block main %}

    <h4>Cambio de password</h4>
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-8 col-md-8 col-lg-6 col-xl-4">
                {{ form_start(changePasswordForm, {'attr':{'class':'form-signin'}}) }}
                {{ form_row(changePasswordForm.oldPassword, {'attr': {'class':'form-control mb-2'} }) }}
                {{ form_row(changePasswordForm.newPassword.first, {'attr': {'class':'form-control mb-2'} }) }}
                {{ form_row(changePasswordForm.newPassword.second, {'attr': {'class':'form-control mb-2'} }) }}
                <button class="btn btn-dark btn-lg btn-block mt-3" type="submit">Change password</button>
                {{ form_end(changePasswordForm) }}
            </div>
        </div>
    </div>

{% endblock %}