{% extends 'layout.html.twig' %}

{% block main %}


    <div class="site-wrap">
        <div class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% if user.getId() is defined %}
                        {% if user.getId() == rutina.usuarioCreadorId %}
                            <a href="{{ path('plan_entreno_edit', {'id': rutina.id}) }}">Edita</a></p>
                        {% endif %}
                    {% endif %}
                    <div class="col-md-12 col-lg-8 mb-5">
                        <h3>Detalles de la rutina</h3>
                        <div class="block-13 ">
                            {% if rutina.imagen|slice(0, 15) == ruta %}
                                <img src="{{ asset(rutina.imagen) }}" alt=""/>
                            {% else %}
                                <img src="{{ asset('images/gallery/' ~ rutina.imagen) }}" alt=""/>
                            {% endif %}
                        </div>
                        <div class="media-image" style="margin-top: 25px; display: grid;">
                            <div class="media-image-body">
                                <p>Nombre de la rutina: {{ rutina.nombre }}, created by: {{ usuario[0].username }}</p>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Primero</th>
                                        <th scope="col">Segundo</th>
                                        <th scope="col">Tercero</th>
                                        <th scope="col">Cuarto</th>
                                        <th scope="col">Quinto</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ rutina.ejercicioUno() }}</td>
                                        <td>{{ rutina.ejercicioDos() }}</td>
                                        <td>{{ rutina.ejercicioTres() }}</td>
                                        <td>{{ rutina.ejercicioCuatro() }}</td>
                                        <td>{{ rutina.ejercicioCinco() }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <p>Especialidad: {{ rutina.tipo() }}</p>
                                <p>Descripcion: {{ rutina.descripcion }}</p>
                                <p>Usuarios suscritos: {{ suscripciones|length }}</p>
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        {% for suscripcion in suscripciones %}
                                            {% if rutina.id == suscripcion.idPlanEntreno %}
                                                {% if suscripcion.idUsuario == app.user.id %}
                                                    <p><a href="{{ path('unsub', {'id': rutina.id}) }}">Unsuscribete</a></p>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <p><a href="{{ path('suscribete', {'id': rutina.id}) }}">suscribete</a></p>
                                    {% endif %}
                            </div>
                        </div>

                        <h5 style="margin-left: 40px; margin-top: 10px;">Seccion de comentarios</h5>
                        <ul style="list-style: none; margin-right: 50px;">
                            {% set i = 0 %}
                            {% for comentario in comentarios %}
                                <li style="border: 1px solid black; padding: 3px; margin: 3px;">
                                    <span style="font-weight: bold;">{{ usuarios_comentadores[i] }}</span>: {{ comentario.texto }}
                                </li>
                                {% set i = i + 1 %}
                            {% endfor %}
                        </ul>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <p style="margin-left: 40px;"><a href="{{ path('comentario_page', {'id': rutina.id}) }}">Comenta</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}