{% extends 'layout.html.twig' %}

{% block main %}
    <div id="error">
        <div class="container">
            <p style="font-weight: bold;">No es posible eliminar a este usuario, tiene rutinas creadas.</p>

            <a href="{{ path("ruta_admin") }}">Vuelve al perfil</a>
        </div>
    </div>
{% endblock %}