{% extends 'layout.html.twig' %}

{% block main %}
    <div id="error">
        <div class="container">
            <p style="font-weight: bold;">No es posible eliminar esta rutina, hay usuarios suscritos a ella.</p>

            <a href="{{ path("perfil_usuario") }}">Vuelve al perfil</a>
        </div>
    </div>
{% endblock %}