{% extends 'layout.html.twig' %}

{% block main %}

    <!-- <div style="height: 113px;"></div> -->
    <div class="slide-one-item home-slider owl-carousel">

        <div class="site-blocks-cover inner-page" style="background-image: url({{ asset('images/hero_bg_2.jpg') }})" data-aos="fade" data-stellar-background-ratio="0.5">
            <!-- <div class="container"> -->
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">
                    <h1>Welcome To Calisthenics Nation</h1>
                    <span class="caption d-block text-white">Find The Healthy Way</span>
                </div>
            </div>
            <!-- </div> -->
        </div>

        <div class="site-blocks-cover inner-page" style="background-image: url({{ asset('images/hero_bg_2.jpg') }})" data-aos="fade" data-stellar-background-ratio="0.5">
            <!-- <div class="container"> -->
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">
                    <h1>Optimize Your Health</h1>
                    <span class="caption d-block text-white">Effective Program</span>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="site-section-heading text-center">Popular Program</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 block-13 nav-direction-white">
                    <div class="nonloop-block-13 owl-carousel">
                        {% set i = 0 %}
                        {% for plan in planes %}
                            <div class="media-image">
                                {% if plan.imagen|slice(0, 15) == ruta %}
                                    <img src="{{ asset(plan.imagen) }}" alt=""/>
                                {% else %}
                                    <img src="{{ asset('images/gallery/' ~ plan.imagen) }}" alt=""/>
                                {% endif %}
                                <div class="media-image-body">
                                    <h2>{{ plan.nombre }}</h2>
                                    <p>Especialidad: {{ plan.tipo }}</p>
                                    <p>
                                        {% if plan.usuarioCreadorId == id_usuarios[i] %}
                                            {% if usernames[i] is not defined %}
                                                autor: nombre
                                            {% elseif usernames[i] %}
                                                autor: {{ usernames[i] }}
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                    <p>
                                        <a href="{{ path("detalles_rutina", {'id': plan.id}) }}"
                                           class="btn btn-primary text-white px-4">
                                            <span class="caption">Learn more</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="block-13 " style="display: flex">

        </div>
    </div>

{% endblock %}