{% extends 'layout.html.twig' %}

{% block main %}
    <div class="site-wrap">
        <div class="py-5 bg-light">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-lg-8 mb-5">
                        <h3>Datos del usuario {{ usuario.username }} </h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Suscripciones</th>
                                <th scope="col">Comentarios </th>
                                <th scope="col">Rutinas creadas</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>{{ suscripciones|length }}</td>
                                <td>{{ comentarios|length }}</td>
                                <td>{{ rutinas|length }}</td>
                                <td><a href="{{ path("delete_user", {'id': usuario.id}) }}">Eliminar</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="{{ path("ruta_admin") }}">Vuelta al panel</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}