{% extends 'base.html.twig' %}

{% block title %} Calisthenics nation {% endblock %}

{% block stylesheets %} {% include 'partials/inicio_doc.html.twig' %} {% endblock %}

{% block body %}

    {% include 'partials/nav_partial.html.twig' %}
    {% block main %} {% endblock %}
    {% include 'partials/footer.html.twig' %}

    {% block javascripts %}
        {% include 'partials/fin_doc.html.twig' %}
    {% endblock %}

{% endblock %}

