{% extends 'layout.html.twig' %}

{% block main %}

    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-8 mb-5">

                    <h1>Login</h1>

                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path('login_page') }}" method="POST" class="p-5 bg-white">

                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="username">username:</label>
                                <input type="text" id="username" name="_username" class="form-control"
                                       value="{{ last_username }}">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="password">password</label>
                                <input type="password" id="password" name="_password" class="form-control">
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="{{ path('index_page') }}"/>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Login" class="btn btn-primary text-white px-4 py-2">
                            </div>
                        </div>

                    </form>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <a href="{{ path('usuario_register') }}">Register</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}