{% extends 'layout.html.twig' %}

{% block main %}

    <div class="site-wrap">
        <div class="py-5 bg-light">
            <div class="container">
                <h3>Secciones en mi perfil:</h3>
                <div class="row">

                    <div class="col-md-12 col-lg-8 mb-5">
                        <p><a href="{{ path('suscripciones_usuario') }}">Mis Suscripciones</a></p>
                        <p><a href="{{ path('rutinas_usuario') }}">Mis rutinas</a></p>
                        <p><a href="{{ path('actividad_usuario') }}">Mi actividad</a></p>
                        {% if is_granted('ROLE_ADMIN') %}
                        <p><a href="{{ path('ruta_admin') }}">Panel de administración</a></p>
                        {% endif %}

                        <h4>Cambio de password:</h4>

                        <p><a href="{{ path('cambio_pass') }}">Cambio de password</a></p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}