{% extends 'layout.html.twig' %}

{% block main %}

    <div class="site-wrap">
        <div class="py-5 bg-light">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-lg-8 mb-5">
                        <h3>Mis Suscripciones:</h3>
                        <div class="col-md-12 block-13 nav-direction-white">
                            <div class="nonloop-block-13 owl-carousel">
                                {% for suscripcion in suscripciones %}
                                    {% if suscripcion.idUsuario == app.user.id %}
                                        {% for plan in planes %}
                                            {% if plan.id == suscripcion.idPlanEntreno %}
                                                <div class="media-image">
                                                    <img src="{{ asset('images/gallery/' ~ plan.imagen) }}" alt=""/>
                                                    <div class="media-image-body">
                                                        <h2>{{ plan.nombre }}</h2>
                                                        <p>Especialidad: {{ plan.tipo }}</p>
                                                        <p>
                                                            <a href="{{ path("detalles_rutina", {'id': plan.id}) }}"
                                                               class="btn btn-primary text-white px-4">
                                                                <span class="caption">Learn more</span>
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}