{% extends 'layout.html.twig' %}

{% block main %}

    <div class="site-wrap">
        <div class="py-5 bg-light">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-lg-8 mb-5">
                        <h3>Rutinas creadas por mi:</h3>
                        <div class="col-md-5 block-13 nav-direction-white">
                            {% if app.user.username == "admin" %}
                                {% for t in todos %}
                                    <div class="media-image" style="width: 300px;">
                                        {% if t.imagen|slice(0, 15) == ruta %}
                                            <img src="{{ asset(t.imagen) }}" alt=""/>
                                        {% else %}
                                            <img src="{{ asset('images/gallery/' ~ t.imagen) }}" alt=""/>
                                        {% endif %}
                                        <div class="media-image-body">
                                            <h2>{{ t.nombre }}</h2>
                                            <p>Especialidad: {{ t.tipo }}</p>
                                            <p>
                                                <a href="{{ path("detalles_rutina", {'id': t.id})}}" class="btn btn-primary text-white px-4">
                                                    <span class="caption">Learn more</span>
                                                </a>
                                                <br>
                                                <a href="{{ path("elimina_rutina", {'id': t.id}) }}">Boton para eliminar</a>
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}

                            {% else %}
                                {% for plan in planes %}
                                    <div class="media-image" style="width: 300px;">
                                        {% if plan.imagen|slice(0, 15) == ruta %}
                                            <img src="{{ asset(plan.imagen) }}" alt=""/>
                                        {% else %}
                                            <img src="{{ asset('images/gallery/' ~ plan.imagen) }}" alt=""/>
                                        {% endif %}
                                        <div class="media-image-body">
                                            <h2>{{ plan.nombre }}</h2>
                                            <p>Especialidad: {{ plan.tipo }}</p>
                                            <p>
                                                <a href="{{ path("detalles_rutina", {'id': plan.id})}}" class="btn btn-primary text-white px-4">
                                                    <span class="caption">Learn more</span>
                                                </a>
                                                <br>
                                                <a href="{{ path("elimina_rutina", {'id': plan.id}) }}">Boton para eliminar</a>
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}