{% extends 'layout.html.twig' %}

{% block main %}

    <div class="site-wrap">
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-8 mb-5">
                    <div>
                        <h3>Mis comentarios [en esta rutina]:</h3>
                        {% for comentario in comentarios %}
                            <div style="maring-top: 5px; border: solid 2px black;">
                                <p>
                                    {{ user.username }}: {{ comentario.getTexto() }}
                                </p>
                                <a href="{{ path("detalles_rutina", {'id': comentario.getRutinaId()}) }}">Rutina</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}