{{ form_start(form) }}
    <div>
        <div class="col-md-12">
            <label class="font-weight-bold" for="comentario"></label>
            {{ form_widget(form.texto, {'attr': {'class': 'form-control', 'placeholder':'comenta...', 'cols':'30', 'rows':'5'}}) }}
        </div>
        <button class="btn btn-primary text-white px-4 py-2" style="margin-left: 15px;">{{ button_label|default('comenta') }}</button>
    </div>
{{ form_end(form) }}
