{% extends 'base.html.twig' %}

{% block title %}Comentario index{% endblock %}

{% block body %}
    <h1>Comentario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario_id</th>
                <th>Texto</th>
                <th>Rutina_id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comentario in comentarios %}
            <tr>
                <td>{{ comentario.id }}</td>
                <td>{{ comentario.usuarioId }}</td>
                <td>{{ comentario.texto }}</td>
                <td>{{ comentario.rutinaId }}</td>
                <td>{{ comentario.date ? comentario.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('comentario_show', {'id': comentario.id}) }}">show</a>
                    <a href="{{ path('comentario_edit', {'id': comentario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comentario_page') }}">Create new</a>
{% endblock %}
