{% extends 'base.html.twig' %}

{% block title %}Comentario{% endblock %}

{% block body %}
    <h1>Comentario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comentario.id }}</td>
            </tr>
            <tr>
                <th>Usuario_id</th>
                <td>{{ comentario.usuarioId }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ comentario.texto }}</td>
            </tr>
            <tr>
                <th>Rutina_id</th>
                <td>{{ comentario.rutinaId }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ comentario.date ? comentario.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comentario_index') }}">back to list</a>

    <a href="{{ path('comentario_edit', {'id': comentario.id}) }}">edit</a>

    {{ include('comentario/_delete_form.html.twig') }}
{% endblock %}
