<form method="post" action="{{ path('mensajes_delete', {'id': mensaje.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mensaje.id) }}">
    <button class="btn">Delete</button>
</form>
