{{ form_start(form) }}
<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="fullname">Full Name</label>
        {{ form_widget(form.fullName, {'attr': {'class': 'form-control', 'placeholder':'Full Name'}}) }}
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <label class="font-weight-bold" for="email">Email</label>
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'Email Address'}}) }}
    </div>
</div>


<div class="row form-group">
    <div class="col-md-12 mb-3 mb-md-0">
        <label class="font-weight-bold" for="phone">Phone</label>
        {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder':'Phone #'}}) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12">
        <label class="font-weight-bold" for="message">Message</label>
        {{ form_widget(form.mensaje, {'attr': {'class': 'form-control', 'placeholder':'Say hello to us!', 'cols':'30', 'rows':'5'}}) }}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12">
        <button class="btn btn-primary text-white px-4 py-2">{{ button_label|default('Envia') }}</button>
    </div>
</div>
{{ form_end(form) }}
