{% extends 'base.html.twig' %}

{% block title %}Mensajes index{% endblock %}

{% block body %}
    <h1>Mensajes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>Mensaje</th>
                <th>Email</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mensaje in mensajes %}
            <tr>
                <td>{{ mensaje.id }}</td>
                <td>{{ mensaje.fullName }}</td>
                <td>{{ mensaje.mensaje }}</td>
                <td>{{ mensaje.email }}</td>
                <td>{{ mensaje.phone }}</td>
                <td>
                    <a href="{{ path('mensajes_show', {'id': mensaje.id}) }}">show</a>
                    <a href="{{ path('mensajes_edit', {'id': mensaje.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mensajes_contact') }}">Create new</a>
{% endblock %}
