{% extends 'base.html.twig' %}

{% block title %}Mensajes{% endblock %}

{% block body %}
    <h1>Mensajes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mensaje.id }}</td>
            </tr>
            <tr>
                <th>FullName</th>
                <td>{{ mensaje.fullName }}</td>
            </tr>
            <tr>
                <th>Mensaje</th>
                <td>{{ mensaje.mensaje }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ mensaje.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ mensaje.phone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mensajes_index') }}">back to list</a>

    <a href="{{ path('mensajes_edit', {'id': mensaje.id}) }}">edit</a>

    {{ include('mensajes/_delete_form.html.twig') }}
{% endblock %}
